{% extends "::base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}
{% block header %}

{% endblock %}
{% block body %}
    <div class="login-container">
    <div class="text-center register-success-head">
        Реегистрация прошла успешно.
    </div>
    <div class="text-center register-success">
        Теперь вы можете просматривать номера телефонов преподавателей и размещать свои объявления.
    </div>
        <div class="text-center">
          <a class=" white-orange-href" href="{{ path("homepage") }}"> Вернуться на главную... </a> 
        </div>
    </div>
{% endblock %}
{% block footer %}

{% endblock %}