{% extends 'base.html.twig' %}

{% block body %}
    <h1>Messages list</h1>

    <table>

        <tbody>
        {% for message in messages %}
            <tr>
                <td>{{ message.name }} {{ message.surname }}</td>
            </tr>
            <a class="detail-href" href="{{path("messages_show", { 'idMes': message.id })}}">Подробнее...</a>
        {% endfor %}
        </tbody>
    </table>
<a class="detail-href" href="{{path("user_index")}}">Найти пользователя</a>
{% endblock %}
