input[type="text"], textarea, select, input[type="password"], input[type="email"], input[type="number"] {
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
}
.search-form input[type="text"], .search-form select {
    width: 250px;
    margin: 5px;
}
.services-edit .full-size-field{
    width: 90% !important;
    margin: 10px auto;
}
.ad-row select {
    width: 194px;   
}
.edit-price input[type="number"], .edit-price select,
.edit-durability input[type="number"], .edit-durability select {
    width: 97px;
    height: 37px;
}
.search-price input[type="text"]{
    width: 98px;   
}

select {
    background-color: #f3f3f3;
}

textarea {
    resize: none;
}

.save-button {
    width:150px;
    background-color: #7b8e1f;
    border: none;
    color: white;
    padding: 8px 32px;
    text-decoration: none;
    margin: 5px 20px;
    cursor: pointer;
    font-size: 14px;
}

.delete-button {
    width:150px;
    background-color: #ccc;
    border: none;
    color: white !important;
    padding: 8px 32px;
    text-decoration: none;
    margin: 5px 20px;
    cursor: pointer;
    font-size: 14px;
}
.edit-button{
    width:150px;
    background-color: #fcab01;
    border: none;
    color: white !important;
    padding: 8px 32px;
    text-decoration: none;
    margin: 5px 20px;
    cursor: pointer;
    font-size: 14px;
    line-height: 50px;
}

.delete-button:hover {
    background: #fcab01;
}
.popup-content{
    text-align: center;
}

.form-horizontal label {
    display: inline-block;
    width: 40%;
}

.form-horizontal .form-block {
    width: 90%;
    margin: 0 auto;
}

.form-horizontal input[type="text"], .form-horizontal textarea, .form-horizontal select,  .form-horizontal input[type="password"] {
    display: inline-block;
    width: 60%;
}

.form-horizontal .full-size-field input[type="text"], .form-horizontal .full-size-field textarea, .form-horizontal .full-size-field select,  .form-horizontal .full-size-field input[type="password"],.form-horizontal .full-size-field input[type="number"]{
    width: 100%;
}

.vich-image img {
    max-height: 350px;
    max-width: 100%;
}

.fileContainer {
    overflow: hidden;
    position: relative;
    background: #ccc;
    color: #fff;
    float: left;
    border: none;
    padding: 8px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 14px;
}

.fileContainer:hover {
    background: #7b8e1f;
}

.fileContainer [type=file] {
    cursor: inherit;
    display: block;
    font-size: 999px;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}
