
@font-face {
    font-family: Trebuchet;
    src: url(../fonts/Trebuchet.ttf);
}
body{
    font-family: Trebuchet;
    font-size: 12px;
    color: black;
    background-color: #f2f2f2;
}
.container{
    width: 1280px;
    margin: 0 auto;
}
.header-container{
    background-image: url(../img/header-top.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 45px;    
}
.header-container, .header-bottom, .orange-header, .place-cv, .popup-header, .login-container{
    color: white;
}
.header-container .header-logo{
    width: 80px;
    display: inline-block;
    float: left;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 200px;
}
.header-logo img{
    max-width: 80px;
    height: 35px;
    object-fit: contain; 
}
.header-container .menu-container{
    width: 790px;
    height: 45px;
    display: inline-block;
    float: right;
    padding-right: 200px;
    text-align: right;

}
.menu-container .menu-item{
    display: inline-block;
    margin: 10px 15px;
    text-align: center;
    padding: 5px 0;
}
.menu-href{
    padding: 5px 0;
}
a{
    color: white;
    text-decoration: none;
    cursor: pointer;   
}
.menu-item:hover{
    margin: 9px 14px;
    border:1px #facb01 solid;
}
.dropdown-content {
    background-color:black;
    display: none;
    position: absolute;
    margin-top:5px;
    margin-left: -1px;
    z-index: 1;
}
.dropdownbtn{
    width: 105px;
}
.dropdownbtn:hover .dropdown-content{
    display: block;
}
.dropdown-content .dropdown-item{
    padding: 5px 0;
    border: 1px #f2f2f2 solid;
    width: 105px;
    display: block;
}
.dropdown-content .dropdown-item:hover{
    border:1px #facb01 solid;
}
.footer{
    height: 250px;
    width: 100%;
}
.footer img{
    margin: 100px 590px; 
}
.header-bottom{
    display: block;
    background-image: url(../img/header-bottom.png);
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
    height: 323px;

}

.header-bottom .howsmart-about, .header-bottom .howsmart-head{
    padding-left: 700px;
    padding-bottom: 20px;

}
.header-bottom .howsmart-head{
    padding-top: 75px;
    font-size: 30px;
    font-weight: bold;
}
.howsmart-about div, .howsmart-head div {
    margin: 10px 0;
}
.serrated-yellow {
    position: relative;
    z-index: 1;
    padding: 40px 20px;
    margin-top: -5px;
    border-top: 5px solid transparent;
    background-image: linear-gradient(#facb01, #facb01), linear-gradient(to bottom right, transparent 50.5%, #facb01 50.5%), linear-gradient(to bottom left, transparent 50.5%, #facb01 50.5%);
    background-repeat: repeat, repeat-x, repeat-x;
    background-position: 0 0, 10px 0, 10px 0;
    background-size: auto auto, 10px 10px, 10px 10px;
    background-clip: padding-box, border-box, border-box;
    background-origin: padding-box, border-box, border-box, border-box, border-box;
}
.serrated-orange {
    position: relative;
    z-index: 1;
    padding: 40px 20px;
    margin-top: -5px;
    border-top: 5px solid transparent;
    background-image: linear-gradient(#facb01, #facb01), linear-gradient(to bottom right, transparent 50.5%, #facb01 50.5%), linear-gradient(to bottom left, transparent 50.5%, #facb01 50.5%);
    background-repeat: repeat, repeat-x, repeat-x;
    background-position: 0 0, 10px 0, 10px 0;
    background-size: auto auto, 10px 10px, 10px 10px;
    background-clip: padding-box, border-box, border-box;
    background-origin: padding-box, border-box, border-box, border-box, border-box;
}
.serrated-gray{
    position: relative;
    z-index: 1;
    padding: 40px 20px;
    margin-top: -5px;
    border-top: 5px solid transparent;
    background-image: linear-gradient(#f2f2f2, #f2f2f2), linear-gradient(to bottom right, transparent 50.5%, #f2f2f2 50.5%), linear-gradient(to bottom left, transparent 50.5%, #f2f2f2 50.5%);
    background-repeat: repeat, repeat-x, repeat-x;
    background-position: 0 0, 10px 0, 10px 0;
    background-size: auto auto, 10px 10px, 10px 10px;
    background-clip: padding-box, border-box, border-box;
    background-origin: padding-box, border-box, border-box, border-box, border-box;
}
.extra-search-container{
    padding: 40px 20px;
    background-color: #fcab01;
}
.place-cv{
    background-image: url(../img/place-cv.png);
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
    height: 145px;     
}

.place-cv .place-cv-head, .place-cv .place-cv-text{
    padding-bottom: 10px;
}
.place-cv-text, .place-cv-button{
    display: inline-block;
}
.place-cv-text{
    float: left;
    margin-left: 430px;
    margin-top: 50px;
}
.place-cv-head{
    font-size: 30px;
}
.place-cv-button{
    height: 145px;
    line-height:145px;
    padding: 0 40px;
}
.green-button{
    background-color: #7b8e1f;
    font-size: 15px;
    text-align: center;
    line-height: 50px;
    padding: 10px 50px;
}
.cities-container{
    padding: 40px 20px;
}
.hidden{
    display: none;
}
.extra-search-button{
    display: inline-block;
    border-bottom:  1px white dashed;
}
.left-block, .right-block{
    display: inline-block;
    margin: 0 5px;
}
.left-block{
    float: left;
}
.right-block{
    float:right;
}
.photo-block{
    width: 30%;
}
.info-block{
    width: 68%;
}
.ad-container, .ad-edit-container, .user-container, .user-edit-container, .ad-full-container{
    width: 1000px;
    margin: 20px auto;
}

.photo-block img{
    width: 100%;
    height: 380px;
    object-fit: contain; 
    -o-object-fit: contain; /* Fit logo fro opera browser */
    object-position: top; /* Set logo position */
    -o-object-position: top;
}
.ad-head{
    background-color: #facb01;
    height: 40px;
    color:white;
    padding: 15px 20px;
}
.ad-container:after,
.subjecttype-name:after,
.subject-item:after,
.buttons-container:after,
.ad-edit-container:after,
.user-container:after,
.user-edit-container:after,
.ad-edit-container:after,
.ad-full-container:after,
.review-item:after,
.search-form:after,
.extra-search-form:after,
.ad-row:after{
    content: '.';
    float: none;
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.left-col, .right-col{
    display: inline-block;
    height: 40px;
}
.left-col{
    float: left;
    width: 80%;    
}
.right-col{
    float: right;
    text-align: center;
}
.teacher-name, .ad-date{
    font-size: 14px;
    margin-bottom: 12px; 
}
.teacher-rating{
    height: 25px;
    font-size: 25px;
    margin-bottom: 5px;
}
.info-block, .subjecttype-container, .footer, .subjecttype-edit-container, .ad-edit-container,
.comments-container{
    background-color: white;
    padding-bottom: 20px;
}
.ad-info, .comments-container {
    padding-bottom: 0;
}
.teacher-phone{
    width: 300px;
    height:50px;
    text-align: center;
    line-height: 50px;
    color:white;
    font-size: 16px;
    font-weight: bold; 
    background-color: #fcab01;
}
.ad-content, .teacher-content{
    margin: 30px 20px;
    height: 200px;
}
.detail-href, .black-href{

    color:black;
}
.ad-description{
    margin: 20px 0;
}
.teacher-footer .cell{
    width: 225px;
}
.teacher-footer .teacher-education{
    width: 227px;
}
.ad-footer, .teacher-footer{
    height: 52px;
    width: 100%;
}
.ad-footer .cell, .teacher-footer .cell{
    display: inline-table;
    float: left;
    border: 1px #f2f2f2 solid;
    height: 50px;
    border-collapse: collapse;
    text-align: center;
    line-height: 50px;
}
.ad-footer .ad-place{
    line-height: 25px;
    text-align: right;
    width: 249px;

}
.ad-footer .ad-service, .ad-footer .ad-servdate{
    width: 339px;
}
.ad-place .ad-town, .ad-place .ad-area{
    padding-right: 10px;
}

.ad-footer .ad-type{
    width:150px;
}
.ad-footer .ad-online{
    width: 150px;
}
.ad-footer .ad-price{
    font-size: 16px;
    font-weight: bold;
    color: #7b8e1f;
    width: 127px;
}
.edit-image, .view-image, .delete-image, .new-image{
    width: 15px;
    height: 15px;
    object-fit: contain; 
}
.yes-no-image{
    width: 12px;
    height: 12px;
    object-fit: contain; 
}

.subjecttype-container,
.subjecttype-edit-container,
.ad-edit-container{
    width: 400px;
    margin: 30px auto;
}
.subjecttype-edit-container{
    text-align: center;
}
.orange-header{
    height: 50px;
    background-color: #facb01;
    width: 100%;
    line-height: 50px;
    font-size: 14px;
}
.subjecttype-name{
    margin-top: 10px;
}
.list-text-container, .list-button-container{
    display:inline-block;
    padding: 0 10px; 
}
.list-text-container{
    float: left;
}
.list-button-container{
    float: right;
    text-align: right;
}
.underlined-block{
    padding: 10px;
    border-bottom: 1px #f2f2f2 solid;
}
.subject-list .subject-item{
    padding-top: 10px;
    padding-left: 15px;
}
.popup{
    width: 600px;
}
.popup-header{
    background-image: url(../img/header-top.png);
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
    height: 45px;
}
.popup-header .text{
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    line-height: 45px;
}
.buttons-container .left, .buttons-container .right{
    display: inline-block;
    height: 50px;
}
.buttons-container .left{
    float: left;
}
.buttons-container .right{
    float: right;
}
.subject-edit{
    width: 500px;
}
.buttons-container{
    display: block;
    margin: 20px 0;
    height: 50px;
}
.popup-content{
    display: block;
    margin: 20px 0;
}
.text-center{
    text-align: center;
}
.opacity-text{
    opacity: 0.5;
}
.ad-show-href:hover, .ad-edit-href:hover{
    opacity:1;
}
.ad-show-href, .ad-edit-href{
    margin: 10px 0;
}

.image-with-overlay-label {
    position: relative;
}
.top-label{
    width: 100px !important;
    font-size: 16px !important;
    background-color: #7b8e1f !important;
}
.image-with-overlay-label .overlay-label {
    background-color: #fcab01;
    display: inline-block;
    width: 50px;
    height: 30px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    line-height: 30px;
    text-align: center;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 10px;
}
.login-container{
    background-image: url(../img/login.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 389px;
    width: 100%;
    text-align: center;
    padding: 100px 0;
}
.login-container label{
    display: inline-block;
    width: 100px;
    height: 30px;
    line-height: 30px;
}
.login-data{
    padding: 5px;
}
.no-review{
    margin: 60px;
    text-align: center;
}
.review-item{
    width: 80%;
    margin: auto;
}
.comments-container{
    width: 987px;
    margin: 40px auto;
}
.review-photo img{
    width: 150px;
    height: 150px;
    object-fit: contain;
}
.review-content div{
    margin: 10px 20px;
}
.review-content{
    width: 600px;
    height: 150px;
}
.review-rating{
    text-align: right;
}
#appbundle_review_rating{
    display: inline-block;
}
.attention-header{
    text-align: center;
    color: #fcab01;
    font-size: 12px;
    margin: 20px 0;
}
.search-form{
    width: 900px;
    margin: auto;
    text-align: center;
}
.price-label {
    height: 45px;
    line-height: 45px;
}
.ad-row .left-block{
    height: 53px;
    line-height: 53px;
}
.search-form .col1, .search-form .col2,.search-form .col3{
    width: 300px;
    display: inline-block;
    margin-right: 10px;
}
.search-form .col1, .search-form .col2, .search-form .col3{
    float: left;
}
.search-form .col3{
    width: 200px;

}
.extra-search-form .search-form .col3{
       line-height: 89px; 
}
.ad-row{
    width: 90%;
    margin: auto;
}
.ad-edit-container .underlined-block{
    margin: 10px auto;
    padding: 0;
}
.ad-edit-content{
    margin: 20px 0;
}
.register-success, .register-success-head{
    font-size: 14px;
    margin-bottom: 20px;
}
.register-success-head{
    font-weight: bold;
    font-size: 15px;
    margin: 50px 0;
}
.white-orange-href:hover{
    color: #fcab01;
}
