
@font-face {
    font-family: Trebuchet;
    src: url(../fonts/Trebuchet.ttf);
}
body{
    font-family: Trebuchet;
    font-size: 12px;
    color: black;
    background-color: #f2f2f2;
}
/*text types*/
.text-center{
    text-align: center;
}
.opacity-text{
    opacity: 0.5;
}
.list-item{
    padding-top: 20px;
}
.label{
    line-height: 50px;
}
.indent-item{
    padding-top: 10px;
    padding-left: 15px;
}
/*blocks and containers types*/
.hidden{
    display: none;
}
.main-container{
    width: 1280px;
    margin: 0 auto;
}
.wide-container{
    width: 1000px;
    margin: 30px auto;
}
.narrow-container{
   width: 525px;
    margin: 20px auto; 
}
.thin-container{
    width: 425px;
    margin: 20px auto; 
}
.short-block{
    padding-bottom: 0 !important;
}
.underlined-block{
    padding: 10px;
    border-bottom: 1px #f2f2f2 solid;
    margin-bottom: 10px; 
}
.white-container{
    background-color: white;
    padding-bottom: 30px;
}
.peach-container{
    background-color: #fbfbe5;
}
.colored-container, .orange-header, .popup-header, .login-container{
    color: white;
}
.serrated-yellow {
    position: relative;
    z-index: 1;
    padding: 40px 20px;
    margin-top: -5px;
    border-top: 5px solid transparent;
    background-image: linear-gradient(#facb01, #facb01), linear-gradient(to bottom right, transparent 50.5%, #facb01 50.5%), linear-gradient(to bottom left, transparent 50.5%, #facb01 50.5%);
    background-repeat: repeat, repeat-x, repeat-x;
    background-position: 0 0, 10px 0, 10px 0;
    background-size: auto auto, 10px 10px, 10px 10px;
    background-clip: padding-box, border-box, border-box;
    background-origin: padding-box, border-box, border-box, border-box, border-box;
}
.serrated-gray{
    position: relative;
    z-index: 1;
    padding: 40px 20px;
    margin-top: -5px;
    border-top: 5px solid transparent;
    background-image: linear-gradient(#f2f2f2, #f2f2f2), linear-gradient(to bottom right, transparent 50.5%, #f2f2f2 50.5%), linear-gradient(to bottom left, transparent 50.5%, #f2f2f2 50.5%);
    background-repeat: repeat, repeat-x, repeat-x;
    background-position: 0 0, 10px 0, 10px 0;
    background-size: auto auto, 10px 10px, 10px 10px;
    background-clip: padding-box, border-box, border-box;
    background-origin: padding-box, border-box, border-box, border-box, border-box;
}
.extra-search-container{
    padding: 40px 20px;
    background-color: #fcab01;
}
.block:after,
.ad-row:after,
.text-buttons:after,
.buttons-container:after{
    content: '.';
    float: none;
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
/*floating blocks*/
.left-block, .right-block{
    display: inline-block;
    margin: 0 5px;
}
.left-block{
    float: left;
}
.right-block{
    float:right;
}
/*overlay labels*/
.image-with-overlay-label {
    position: relative;
}
.top-label{
    width: 100px !important;
    font-size: 16px !important;
    background-color: #7b8e1f !important;
}
.image-with-overlay-label .overlay-label {
    background-color: #facb01;
    display: inline-block;
    width: 50px;
    height: 30px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    line-height: 30px;
    text-align: center;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 10px;
}
/*photo block settings*/
.photo-block{
    text-align: center;
    width: 30%;
}
.photo-block img{
    width: 100%;
    overflow: hidden;
}
.teacher-phone{
    width: 300px;
    height:50px;
    text-align: center;
    line-height: 50px;
    color:white;
    font-size: 16px;
    font-weight: bold; 
    background-color: #facb01;
}
.no-phone{
    text-align: center;
    color:white;
    width: 300px;
    height:50px;
    line-height: 25px;
    background-color: #facb01;
}
.user-item .photo-block img{
    max-width: 100%;
    height: 327px;
}
/*info block settings*/
.info-block{
    width: 68%;
}
.user-about{
    height: 122px;
}
/*ads settings*/
.ad-head{
    background-color: #facb01;
    height: 40px;
    color:white;
    padding: 15px 20px;
}
.ad-content, .teacher-content{
    margin: 30px 20px;
    height: 200px;
}
.ad-content{
    height: 196px;
}
.ads-container .ad-content{
    height: 36px;
}
.ad-full-container .teacher-content, .ad-full-container .ad-content{
    height: 42px;
}
.ad-row{
    width: 90%;
    margin: auto;
}
.ad-row .left-block{
    height: 53px;
    line-height: 53px;
}
.ad-edit-content{
    margin: 20px 0;
}
.ad-description{
    margin: 20px 0;
}

.ad-footer, .teacher-footer{
    height: 52px;
    width: 100%;
}
.ad-footer .cell, .teacher-footer .cell{
    display: inline-table;
    float: left;
    border: 1px #f2f2f2 solid;
    height: 50px;
    border-collapse: collapse;
    text-align: center;
    line-height: 50px;
}
.ad-footer .ad-place{
    line-height: 25px;
    text-align: right;
    width: 249px;
}
.ad-footer .ad-service, .ad-footer .ad-servdate{
    width: 339px;
}
.ad-place .ad-town, .ad-place .ad-area{
    padding-right: 10px;
}
.ad-footer .ad-type{
    width:125px;
}
.ad-footer .ad-online{
    width: 125px;
}
.yes-no-image{
    width: 12px;
    height: 12px;
    object-fit: contain; 
}
.ad-footer .ad-price{
    font-size: 16px;
    font-weight: bold;
    color: #7b8e1f;
    width: 177px;
}
.teacher-name, .ad-date{
    font-size: 14px;
    margin-bottom: 12px; 
}
.teacher-rating{
    height: 25px;
    font-size: 25px;
    margin-bottom: 5px;
}
.teacher-footer .cell{
    width: 225px;
}
.teacher-footer .teacher-education{
    width: 227px;
}

/*hrefs settings*/
a{
    color: white;
    text-decoration: none;
    cursor: pointer;   
}
.detail-href, .black-href{
    color:black;
}
.green-href{
    color: #7b8e1f !important;
}
.green-href:hover{
    color: #415403 !important;
}
.blue-href{
    color: #67b5d9 !important;
}
.blue-href:hover{
    color: #247298 !important;
}
.yellow-href{
    color: #facb01 !important;
}
.yellow-href:hover{
    color: #d7a806 !important;
}
.red-href{
    color: #DD1144 !important;
}
.red-href:hover{
    color: #A10608 !important;
}
.dashed-href{
    display: inline-block;
    border-bottom:  1px white dashed;
}
/*buttons settings*/
.text-buttons{
    padding: 20px 10px;
}
.text-buttons .left{
    float: left;
}
.text-buttons .right{
    float: right;
}
.buttons-container{
    display: block;
    margin: 20px 0;
    height: 50px;
}
.button-image{
    width: 15px;
    height: 15px;
    object-fit: contain; 
}
/*headers*/
.orange-header{
    height: 50px;
    background-color: #facb01;
    width: 100%;
    line-height: 50px;
    font-size: 14px;
}
.header-container{
    background-image: url(../img/header-top.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 45px;    
}
.header-container .header-logo{
    width: 80px;
    display: inline-block;
    float: left;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 200px;
}
.header-logo img{
    max-width: 80px;
    height: 35px;
    object-fit: contain; 
}
.header-bottom{
    display: block;
    background-image: url(../img/header-bottom.png);
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
    height: 323px;
}
.header-bottom .howsmart-about, .header-bottom .howsmart-head{
    padding-left: 700px;
    padding-bottom: 20px;
}
.header-bottom .howsmart-head{
    padding-top: 75px;
    font-size: 30px;
    font-weight: bold;
}
.howsmart-about div, .howsmart-head div {
    margin: 10px 0;
}

/*menu settings*/
.header-container .menu-container{
    width: 790px;
    height: 45px;
    display: inline-block;
    float: right;
    padding-right: 200px;
    text-align: right;
}
.menu-container .menu-item{
    display: inline-block;
    margin: 10px 15px;
    text-align: center;
    padding: 5px 0;
}
.menu-href{
    padding: 5px 0;
}
.menu-item:hover{
    margin: 9px 14px;
    border:1px #facb01 solid;
}
.dropdown-content {
    background-color:black;
    display: none;
    position: absolute;
    margin-top:5px;
    margin-left: -1px;
    z-index: 1;
}
.dropdownbtn{
    width: 150px;
}
.dropdownbtn:hover .dropdown-content{
    display: block;
}
.dropdown-content .dropdown-item{
    padding: 5px 0;
    border: 1px #f2f2f2 solid;
    width: 150px;
    display: block;
}
.dropdown-content .dropdown-item:hover{
    border:1px #facb01 solid;
}
/*footer settings*/
.footer{
    height: 250px;
    width: 100%;
}
.footer img{
    margin: 100px 590px; 
}
/*place cv block*/
.place-cv{
    background-image: url(../img/place-cv.png);
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
    height: 145px;     
}
.place-cv .place-cv-head, .place-cv .place-cv-text{
    padding-bottom: 10px;
}
.place-cv-text, .place-cv-button{
    display: inline-block;
}
.place-cv-text{
    float: left;
    margin-left: 430px;
    margin-top: 50px;
}
.place-cv-head{
    font-size: 30px;
}
.place-cv-button{
    height: 145px;
    line-height:145px;
    padding: 0 40px;
}
.green-button{
    background-color: #7b8e1f;
    font-size: 15px;
    text-align: center;
    line-height: 50px;
    padding: 10px 50px;
}
/*services and subjects lists*/
.services-item .list-button-container{
    height: 50px;
    line-height: 50px;
}
.services-text{
    padding: 5px 0;
}
.services-about{
    width: 80%;
}
 .services-edit{
    width: 500px;
}
.subject-edit{
    width: 385px !important;
}
.subject-list a{
    color: black;
}
.st-name{
    margin-top: 10px;
    width: 300px;
    margin: 0 auto;
}
.list-text-container, .list-button-container{
    display:inline-block;
    padding: 0 10px; 
}
.list-text-container{
    float: left;
}
.list-button-container{
    float: right;
    text-align: right;
}
/*popup block*/
.popup{
    width: 600px;
}

.popup-content{
    display: block;
    margin: 20px 0;
}
/*messages and reviews*/
.messages-photo img{
    width: 150px;
    height: 150px;
    object-fit: contain;
}
.message-field{
    margin-top: 20px;
}
.message-block img{
    width: 80px;
    height: 80px;
    object-fit: contain;
}
.message-row{
    padding: 10px;
}
.messages-content{
    width: 600px;
    height: 150px;
}
.adquery-edit .messages-content{
    width:300px;
}
.review-rating{
    text-align: right;
}
#appbundle_review_rating{
    display: inline-block;
}
.attention-header{
    text-align: center;
    color: #fcab01;
    font-size: 12px;
    margin: 20px 0;
}
.no-content{
    margin:  0;
    padding: 60px 0;
    text-align: center;
}
.messages-item{
    width: 80%;
    margin: auto;
}
.right-message .message-block{
    float: right;
}
.left-message .message-block{
    float: left;
}
.right-message .main-info{
    text-align: right;
}
.left-message .main-info{
    text-align: left;
}
.bordered-div{
    max-width: 500px;
    margin: 5px 0;
    padding: 5px;
    border: 1px solid #f2f2f2;
    border-radius: 3px;
}
/*search*/
.search-form{
    width: 900px;
    margin: auto;
    text-align: center;
}
.price-label {
    height: 45px;
    line-height: 45px;
}
.search-form .col1, .search-form .col2,.search-form .col3{
    width: 300px;
    display: inline-block;
    margin-right: 10px;
}
.search-form .col1, .search-form .col2, .search-form .col3{
    float: left;
}
.search-form .col3{
    width: 200px;
}
.extra-search-container .col3{
    line-height: 89px; 
}
/*register and lodin*/
.register-success, .register-success-head{
    font-size: 14px;
    margin-bottom: 20px;
}
.register-success-head{
    font-weight: bold;
    font-size: 15px;
    margin: 50px 0;
}
.white-orange-href:hover{
    color: #fcab01;
}
.login-container{
    background-image: url(../img/login.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 389px;
    width: 100%;
    text-align: center;
    padding: 100px 0;
}
.login-container label{
    display: inline-block;
    width: 100px;
    height: 30px;
    line-height: 30px;
}
.login-data, .message-data{
    padding: 5px;
}

