{% extends 'base.html.twig' %}

{% block body %}
    <h1>Запросы на подтверждение</h1>
    <h4>Если Вы подтвердите, что это действительно Ваш ученик, то он сможет оставить отзыв о Вас</h4>

    <table>

        <tbody>
        {% for adQuery in adQueries %}
            <tr>
                <td>{{ adQuery.user }}</td>
                <td>{{ adQuery.queryText }}</td>
                
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('adquery_confirm', { 'idQuery': adQuery.idQuery }) }}">Показать</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('adquery_new') }}">Create a new adQuery</a>
        </li>
    </ul>
{% endblock %}
